.title {
	text-align: center;
	color: red;
	font-style: italic;
}

/*Dropdown background*/
.dropdown {
	background-color: #e0e0e0;
	padding-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}

/*Dropdown Button*/
.label {
	background-color: white;
    color: #9e9d24;
    padding: 1.25em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width: 25em;
}

.label:after {
	content: '▼';
}

/*Dropdown and the list*/
.scholarship-option, .education-option {
	position: relative;
	display: inline-block;
	padding-left: 3.15em;
	padding-top: 11em;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

.dropdown-content {
	display: none;
	position: absolute;
	list-style: none;
	margin-top: -.015em;
	width: 25em;
	margin-left: -2.5em;
}

.dropdown-content li {
	padding: 1em;
	background-color: linen;
	border: 0.25px solid grey;
}

.dropdown-content li a {
	text-decoration: none;
	color: #d50000;
}

.scholarship-option:hover .label, .education-option:hover .label {
	background-color: #d7ccc8;
}

.scholarship-option:hover .dropdown-content, .education-option:hover .dropdown-content {
	display: block;
}

/*SEARCH Button*/
.search-button {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

.search {
	text-align: center;
	color: white;
	background-color: #d50000;
	padding: 12px 40px;
	border: none;
	font-size: 1em;
	margin-top: 1em;
}

/*Logo*/
.logos {
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	padding-left: 10em;
}

img {
	display:inline-block;
	padding: 5em;
}