.title {
	text-align: center;
	color: red;
	font-style: italic;
}

/*Dropdown background*/
.dropdown {
	background-color: #e0e0e0;
	padding-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}

/*Dropdown Button*/
.label {
	background-color: white;
    color: #9e9d24;
    padding: 16px;
    font-size: 1em;
    padding-right: 15em;
    border: none;
    cursor: pointer;
}

.label:after {
	content: '▼';
}

/*Dropdown and the list*/
.scholarship-option, .education-option {
	position: relative;
	display: inline-block;
	padding-left: 1em;
	padding-top: 11em;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
}

.dropdown-content a {
	color: #d50000;
	padding: 12px 110px;
	text-decoration: none;
	display: block;
	background-color: linen;
}

.scholarship-option:hover .label, .education-option:hover .label {
	background-color: #d7ccc8;
}

.scholarship-option:hover .dropdown-content, .education-option:hover .dropdown-content {
	display: block;
}



/*SEARCH Button*/
.search-button {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

.search {
	text-align: center;
	color: white;
	background-color: #d50000;
	padding: 12px 40px;
	border: none;
	font-size: 1em;
	margin-top: 1em;
}
